<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sidcat Cafe</title>
    <link rel="icon" href="paw.png" type="image/x-icon"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
  <body>



    <nav>
      <ul>
        <li><a href="../../components/home.html">Home</a></li>
        <li><a href="../../components/about.html">About</a></li>
        <li><a href="../../components/cafe.html">Cafe</a></li>
        <li><a href="../../components/cats.html">Cats</a></li>
        <li><a href="../../components/kitten-cam.html">Kitten Cam</a></li>
        <li><a href="../../components/donate.html">Donate</a></li>
        <li><a href="../../components/shop.html">Shop</a></li>
      </ul>
    </nav>



  <footer>
    <p>
      © Sidcat Cafe 2023. All rights reserved.
    </p>
  </footer> 



	<script src="index.js"></script>
  </body>
</html>